body {
  background-image: url('./pics/pexels-anouar-olh-1730560.jpg') ; background-size: cover; background-attachment: fixed;
  font-family: Georgia, serif;
  background-color: #f8f8f8;
  margin: 0;
  padding: 0;
}

h3 {color: rgb(255, 255, 255); font-family: cursive; font-size: 250%;}

h2 {color: rgb(255, 255, 255); font-family: cursive; font-size: 250%;}

p {color: rgb(255, 255, 255); font-family: cursive; font-size: 215%;}

.bklk {color:  rgb(255, 252, 252); font-family: cursive; font-size: 315%;text-decoration: none;border: 2px}

h1 {color: rgb(255, 255, 255); font-family: cursive; font-size: 315%;}
#logo-image {
  width: 30px;
  margin-right: 10px;
}

.bkcvr {width: 325px; height: 420px;padding-left: .2%;}

nav{
  display: flex;
  justify-content: space-around;
  background-color: rgba(196, 204, 206, 0.881);
}

.hmpg {color: rgb(255, 255, 255); font-family: cursive; font-size: 315%; text-align: center;}

nav span{
  display: flex;
  justify-content: space-around;
}

nav a{
  color:  rgb(255, 255, 255);
  padding: 1rem;
  font-family: cursive;
  font-size: 225%;
  text-decoration: none;
}

.registerForm {
  display: flex;
  flex-wrap: wrap;
}

.Searchbr {font-family: cursive;font-size:150%; color:rgb(0, 0, 0)}